@import url('https://fonts.googleapis.com/css?family=Simonetta|Trade+Winds&display=swap" rel="stylesheet');
body {
    font-family: 'Simonetta', sans-serif;
    font-size: 1.2em;
}

.text-title {
    font-family: 'Trade Winds', sans-serif;
    font-size: 3em;
    color: #ffffff;
}

.text-subtitle {
    font-family: 'Simonetta', sans-serif;
    font-size: 1.6em;
    color: #ffffff;
}

.bg-bunner {
    background-image: linear-gradient(to bottom right, #be2edd, #130f40);
}

.text-footer {
    font-size: 0.9em;
}

.bg-footer {
    color: #ffffff;
    background-color: #2f3542;
}

.color-what {
    color: #31FD08;
}

.color-face {
    color: #08E5FD;
}

.color-twi {
    color: #00A2FF;
}

.lorem {
    color: #ffffff;
    font-size: 1em;
}

.bg-nav {
    background-color: transparent;
}